/* Styles for the leaderboard */
body {
    background-color: #87CEEB; /* Sky blue background color */
    font-family: 'AniMe Matrix', sans-serif; /* Use AniMe Matrix font */
}

   
.leaderboard {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #FFF; /* White background for leaderboard */
}

.blankBox {
    color: white;
    background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent background for better readability */
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.title {
    color: #000; /* Black text color */
    text-align: center;
}


/* Styles for player details */
#playerDetails {
    /* Add your styles here */
}

