body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #190182;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Make sure the container fills the viewport height */
}

.container {
    background-color: rgba(0, 0, 0, 0.8); /* Dark black box with opacity */
    color: white; /* Text color inside the box */
    padding: 20px;
    border: 2px solid white; /* Add a white border */
}

h1, p {
    margin-top: 10px; /* Add margin between elements */
}

.status {
    font-size: 24px;
}

.info {
    font-style: italic;
    color: white; /* Change info text color to white */
}

h1, p, .status {
    color: white; /* Change color of "System Status", "Jellyfin Status", "PalWorld Status" to white */
}

.up {
    color: rgb(0,100,0);
}

.down {
    color: red;
}
